@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Montserrat:400,500|Playfair+Display+SC&display=swap');
/*Colour Scheme :
#463e4b
#7a787d
#b9bbba
#cbc3c1
#bfb0ad
#ba7f61
*/
html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
	height: 35rem;
	width: 100%;
}
#logo{
    font-family:"Liu Jian Mao Cao";
    font-size:2rem;
    line-height: 0.6em;
    color: #463e4b;
}
#logo:hover{
    color:#7a787d;
}
#navbar {
    background-color: #cbc3c1;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
   z-index: 9999;
}
.navbar-light .navbar-toggler-icon{
  background-image: url("https://image.flaticon.com/icons/svg/744/744502.svg");
}
.nav-item{
    color:#4A4A48;
    font-family:Montserrat;
    font-weight:500;
    letter-spacing: 1.5px;
    padding-left:2em;
    padding-right:2em;
}
.nav-item:hover {
  text-decoration: underline;
  color:#ba7f61;
}
#landing {
    height: 100vh;
    position: relative;
    background: url(https://images.pexels.com/photos/2961929/pexels-photo-2961929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
#landtext {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing:0.25rem;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.main-text{
    font-size:5rem;
    font-family:"Playfair Display SC";
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
    color:cornsilk;
}
#gobtn {
    text-decoration: none;
    padding-top: 2.5rem;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 0.1875rem;
    cursor: pointer;
}
#gobtn:hover {
    background-color: #8A9A5B;
    transition: .7s ease-in-out;
}
.story {
    margin-left:5rem;
    margin-right:5rem;
}
.header {
    text-align:center;
    padding-bottom:5em;
    padding-top:5em;
}
.img-thumbnail {
  padding:0;
}
.storyimg {
    box-shadow: 10px 10px 5px grey;
    opacity:90%;
}
.sectionhead {
    padding-top: 2em;
}
.sectiontext{
    padding-top:1rem;
}
#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#infowindow-content {
  display: inline;
}